body {
  background-color: #232323;
}

h1, p {
  color: white;
}

.square {
  width: 30%;
  margin: 1.33%;
  padding-bottom: 30%;
  background-color: purple;
  float: left;
}

.container {
  width: 650px;
  margin: 20px auto;
}
